<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="/css/styles.css">
	{{>title}}

</head>
<body>

  {{>header}}
  <p>{{errorMessage}}</p>
  {{>navbar}}
  <br>
  {{>footer}}
  
</body>
</html>