<!DOCTYPE html>
<html>
<head>

  {{>imports}}
	{{>title}}

</head>
<body>

  {{>navbar}}
  <br>
  <div class="container-fluid">
    {{>header}}
    <br>
    <img src="./img/gentleman.jpg">
    <br>
    <br>
    {{>footer}}
  </div>

</body>
</html>