<!DOCTYPE html>
<html>
<head>

  {{>imports}}

</head>
<body>

  {{>navbar}}
  <div class="container-fluid">
    {{>header}}
    <img class="person" src="/img/gentleman.jpg">
  </div>
  {{>footer}}

</body>
</html>