<!DOCTYPE html>
<html>
<head>

  {{>imports}}

</head>
<body>

  {{>navbar}}
  <div class="container-fluid">
    {{>header}}
    <img id="main-img" src="/img/weather-forecast.jpg">
    <form id="weather-form">
      <div class="row g-2 align-items-center">
        <div class="col-auto">
          <label class="col-form-label">Address</label>
        </div>
        <div class="col-auto">
          <input id="address" class="form-control" type="text" placeholder="Wien, Washington DC, London" aria-label="default input example">
        </div> 
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>      
      </div>
      <div id="emailHelp" class="form-text">Please provide a valid location to get the weather information.</div>
    </form>
    <div id="messages">
      <p id="message-1"></p>
      <p id="message-2"></p>
    </div>
  </div>
  {{>footer}}
  
  <script src="/js/app.js"></script>
</body>
</html>